/* CSS declarations go here */
.topborder {
  margin-top: 1rem;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

label {
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
}

label::first-letter {
  text-transform: uppercase;
}

.equalWidth {
  width: 250px;
  padding-left: 1rem;
  padding-right: 1rem;
}
